@charset "utf.8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #050505;
    color: #f2f2f2; 
    font-family: "Funnel Display", sans-serif;
    flex-direction: column;
    justify-content: space-between;
}

/*------------------HEADER------------------*/
header {
    position: fixed;
    top: 0;                      
    width: 100%;               
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050505;
    padding: 30px 60px;
    box-sizing: border-box;
}

.logo img {
    display: block;
    width: 100px;
}

.menu a {
    color: #f2f2f2;
    border: 0.5px solid #f2f2f2;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 15px;
    transition: background 0.3s, color 0.3s;
    margin-right: 50px;
    font-family: "Fira Sans", sans-serif;
}

.menu a:hover {
    background: #f2f2f2;
    color: #050505;
}

/*------------------SECCION INDEX------------------*/
.hero {
    background:#ffb2c3;
    height: 95vh;
    font-size: 170px;
    color: #050505;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.hola {
    display: inline-block;
    animation: scroll-left 30s linear infinite;
    font-weight: 450;
}

@keyframes scroll-left {
    0% {
    transform: translateX(0%);
}
    100% {
    transform: translateX(-100%);
}
}

/*------------------SECCION NEGRA SOBRE MI------------------*/
.intro h2 {
    font-size: 112px;
    font-weight: 400;
    margin: 200px 0 70px 0;
    text-align: center;
}

.contenedor {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 64px;
}

.sombra-img {
    box-shadow: 10px 10px 0px #ffb2c3;
}

.texto {
    max-width: 80vh;   
} 

.texto h3 {
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    margin-left: 50px;
    color: #ffafcc;
    line-height: 80px;
}

.texto p {
    line-height: 28px;
    text-align: left;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    margin-left: 100px;
}

/*------------------SECCION BLANCA SOBRE MI------------------*/
.datos {
    border-top: 20px solid #ffb2c3;
    background-color: #f2f2f2;
    color: #050505;
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-top: 60px;
    padding: 64px;
    padding-bottom: 90px;
    line-height: 40px;
    font-family: "Fira Sans", sans-serif;
}

.lista {
    line-height: 40px;
    align-items: flex-start;
    flex-direction: column;
}

.estudios {
    line-height: 26px;
}

.tiempo {
    color: #ffb2c3;
}

.lista li img {
    vertical-align: middle;
    margin-right: 16px;
}

.columna h4 {
    font-size: 21px;
    font-family: "Funnel Display", sans-serif;
    font-weight: 500;
}

.texto-servicios {
    font-family: "Fira Sans", sans-serif;
    color: #050505;
    line-height: 27px;
    margin: 48px;
    padding-top: 5rem;
    border-top: 2px solid #050505;
    max-width: 90vh;
}

.icono {
    margin-top: 120px;
}

.servicios {
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    padding: 130px;
    margin-bottom: 10px;
}

.servicios div {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
}

/*------------------FOOTER------------------*/
footer {
    background-color: #050505;
    color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    font-family: "Fira Sans", sans-serif;
    font-size: 10px;
}

.derechos,
.redes {
    display: flex;
    align-items: center;
    gap: 16px;
}

.redes span {
    margin-right: 100px;
}

.contacto-section {
    background-color: #ffb2c3;
    display: flex;
    justify-content: space-between;
    padding: 28px 200px;
    font-family: "Fira Sans", sans-serif;
}

.contacto-columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    gap: 10px;
    font-size: 12px;
    color: #050505;
    line-height: 10px;
}

.contacto-columna a {
    color: #050505;
    text-decoration: none;
    transition: color 0.3s;
}

.contacto-columna a:hover {
    color: #f2f2f2;
}

.contacto-button{
    border: 2px solid #050505;
    padding: 15px 100px;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s, color 0.3s;
}

.contacto-button:hover {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

/*------------------PORTFOLIO------------------*/
.portfolio h2 {
    font-size: 112px;
    font-weight: 400;
    text-align: center;
    margin-top: 200px;
    padding: 30px;
    display: inline-block;
    animation: scroll-left 30s linear infinite;
}

.portfolio {
    border-bottom: 20px solid #ffb2c3;
}

@keyframes scroll-left {
    0% {
    transform: translateX(0%);
}
    100% {
    transform: translateX(-100%);
}
}

.galeria {
    background-color: #f2f2f2;
    padding: 130px;
}

.contenedor-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.columna-galeria {
    padding-top: 40px;
}

.columna-galeria img {
    margin-top: 20px;
}

.columna-galeria img:hover {
    transform: scale(1.05);
}

.columna-galeria span {
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.columna-galeria h4 {
    font-size: 18px;
    font-family: "Funnel Display", sans-serif;
    color: #050505;
    font-weight: 500;
    border-top: 2px solid #ffb2c3;
    padding-top: 20px;
}

/*------------------FOTOS GALERIA------------------*/
.portada {
    display: flex;
    justify-content: center;
    border-bottom: 20px solid #ffb2c3;
    padding: 0;
    margin: 0;
}

.portada img {
    width: 100%;
    height: auto;
    display: block;
}

.flecha {
    animation: moverLado 1s infinite ease-in-out;
}

@keyframes moverLado {
    0% {
        transform: translateX(0);
}
    50% {
        transform: translateX(10px);
}
    100% {
    transform: translateX(0);
}
}

.coleccion {
    color: #f2f2f2;
    padding: 60px 40px;
    font-family: "Funnel Display", sans-serif;
    padding: 150px 200px;
}

.coleccion h2 {
    font-size: 64px;
    font-weight: 400;
    text-align: center;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.descripcion h4 {
    font-size: 20px;
    font-family: "Funnel Display", sans-serif;
    padding: 10px 0;
    font-weight: 350;
}

.descripcion p {
    max-width: 800px;
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
    line-height: 26px;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}

.ultimo-mock {
    padding-bottom: 70px;
    border-bottom: 2px solid #f2f2f2;
}

/*------------------FORMULARIO------------------*/
.formulario-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 100px 110vh;
    padding: 30px;
    font-family: "Fira Sans", sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.fila {
    display: flex;
    gap: 30px;
}

.campo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nombre {
  font-size: 14px;
  margin-bottom: 6px;
}

.fila input[class="text"],
input[class="email"],
input[class="tel"] {
  background: none;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  color: white;
  padding: 5px;
  font-size: 14px;
}

.mensaje {
    background: none;
    border: none;
    border-bottom: 1px solid #f2f2f2;
    color: white;
    font-size: 14px;
}

.mensaje {
  resize: vertical;
  height: 80px;
}

.fila-checkbox {
    display: flex;
    gap: 20px;
}

.aceptar {
    font-size: 14px;
}

.boton {
    text-align: right;
}

.enviar {
    background: none;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    padding: 8px 40px;
    cursor: pointer;
    transition: 0.3s, color 0.3s;
}

.enviar:hover {
    background: #f2f2f2;
    color: #050505;
}




/*------------------MEDIA SOBRE MI------------------*/
@media (max-width: 720px) {
.intro h2 {
    font-size: 10vw; /* Escala con el ancho de pantalla */
    margin: 60px 0 30px 0;
}

.contenedor {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 24px;
}

.sombra-img {
    max-width: 100%;
    height: auto;
}

.texto {
    max-width: 100%;
    padding: 0 16px;
}

.texto h3 {
    font-size: 1.6rem;
    text-align: center;
    margin-left: 0;
    line-height: 2.2rem;
}

.texto p {
    font-size: 1rem;
    margin-left: 0;
    text-align: center;
    line-height: 1.6rem;
}
}