@charset "utf.8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #050505;
    color: #f2f2f2; 
    font-family: "Funnel Display", sans-serif;
    flex-direction: column;
    justify-content: space-between;
}

/*------------------HEADER------------------*/
header {
    display: flex;
    justify-content: flex-end;
    padding: 30px 60px;
}

nav a {
    color: #f2f2f2;
    border: 0.5px solid #f2f2f2;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 15px;
    transition: background 0.3s;
    margin-right: 50px;
    font-family: "Fira Sans", sans-serif;
}

nav a:hover {
    background: #f2f2f2;
    color: #050505;
}

/*------------------SECCION INDEX------------------*/
.hero {
    background:#ffb2c3;
    text-align: center;
    height: 88vh;
    font-size: 230px;
    color: #050505;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-weight: 450;
}

.hero p{
    font-size: 64px;
    margin-top: -40px;
}

/*------------------SECCION NEGRA SOBRE MI------------------*/
.intro h2 {
    font-size: 112px;
    font-weight: 400;
    margin: 200px 0 70px 0;
    text-align: center;
}

.contenedor {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 64px;
}

.sombra-img {
    box-shadow: 10px 10px 0px #ffb2c3;
}

.texto {
    max-width: 80vh;   
} 

.texto h3 {
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    margin-left: 50px;
    color: #ffafcc;
    line-height: 80px;
}

.texto p {
    line-height: 28px;
    text-align: left;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    margin-left: 100px;
}

/*------------------SECCION BLANCA SOBRE MI------------------*/
.datos {
    border-top: 20px solid #ffb2c3;
    background-color: #f2f2f2;
    color: #050505;
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-top: 60px;
    padding: 64px;
    padding-bottom: 90px;
    line-height: 40px;
    font-family: "Fira Sans", sans-serif;
}

.lista {
    line-height: 40px;
    align-items: flex-start;
    flex-direction: column;
}

.estudios {
    line-height: 26px;
}

.tiempo {
    color: #ffb2c3;
}

.lista li img {
    vertical-align: middle;
    margin-right: 16px;
}

.columna h4 {
    font-size: 21px;
    font-family: "Funnel Display", sans-serif;
}

.texto-servicios {
    font-family: "Fira Sans", sans-serif;
    color: #050505;
    line-height: 27px;
    margin: 48px;
    padding-top: 5rem;
    border-top: 2px solid #050505;
    max-width: 90vh;
}

.icono {
    margin-top: 120px;
}

.servicios {
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    padding: 130px;
    margin-bottom: 10px;
}

.servicios div {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
}

/*------------------FOOTER------------------*/
footer {
    background-color: #050505;
    color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    font-family: "Fira Sans", sans-serif;
    font-size: 10px;
}

.derechos,
.redes {
    display: flex;
    align-items: center;
    gap: 16px;
}

.redes span {
    margin-right: 100px;
}

.contacto-section {
    background-color: #ffb2c3;
    display: flex;
    justify-content: space-between;
    padding: 28px 200px;
    font-family: "Fira Sans", sans-serif;
}

.contacto-columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    gap: 10px;
    font-size: 12px;
    color: #050505;
    line-height: 10px;
}

.contacto-button {
    border: 2px solid #050505;
    padding: 10px 100px;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.contacto-button:hover {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

/*------------------PORTFOLIO------------------*/
.portfolio h2 {
    font-size: 112px;
    font-weight: 400;
    text-align: center;
    margin-top: 200px;
    padding: 30px;
    border-bottom: 20px solid #ffb2c3; 
}